<p>Número de preguntas: <%=numQuizes%></p>
<p>Número de comentarios*: <%=numComments%></p>
<p>Número medio de comentarios por pregunta: <%=(numComments/numQuizes).toFixed(2)%></p>
<p>Número de preguntas con comentarios*: <%=numCommentedQuizes%></p>
<p>Número de preguntas sin comentarios*: <%=numUncommentedQuizes%></p>
<br/>
<p>* Para estas estadísticas se consideran únicamente los comentarios publicados</p>
